html
    head
    body
        form(action='/editUser/' + editUser.id method='POST') 
            div
                label(for='fName') First Name
                input(id='fName', name='fName' value= editUser.fName)
            div
                label(for='lName') Last Name
                input(id='lName', name='lName' value= editUser.lName)
            div
                label(for='Age') Age
                input(id='Age', name='Age' value= editUser.age)
            div
                label(for='Email') Email
                input(id='Email', name='Email' value= editUser.email)
            div
                input(type='submit')