html
    header
    body
        form(action='/users' method='POST') 
            div
                label(for='name') Name
                input(id='name', name='name')
            div
                label(for='email') Email
                input(id='email', name='email')
            div
                label(for='age') Age
                input(id='age', name='age')
            div
                input(type='submit')
