
/* table {
    border: 1px solid black;
    width: 100%
}

tr, td {
    text-align: center;
    border: 1px solid black
} */

.noBorder{
    border: none !important;
}

a{
    text-decoration: none;
    color: black;
}

/* .noButton {
    background:none;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    margin-top: 15px;
} */